<style>
    nav{
        display: flex;
        justify-content: space-around;
        background-color: #212121;
        color: #fff;
        padding: 10px;
        font-size: 25px;
    }
    nav a{
        color: #fff;
        text-decoration: none;
    }
    nav a.active{
        color: red;
    }
</style>

<nav>
    <!-- Link hacia un componente a través de una ruta -->
    <a href="" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contador</a>
    <a href="" routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a href="" routerLink="/anime" routerLinkActive="active">Anime</a>
</nav>